body{
    margin: 0;
    background-color: #D1B9D9;
}

.mainBack{
    background-image: url(../assets/Images/homePageHeader.png);
    height: 88.3vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.headerBack{
    background-image: url(../assets/Images/headerBack.png);
    height: 35vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 10px;
    width: 80%;
    margin-left: 7.5%;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.logo img{
    width: 75%;
    margin-left: 8%;
}

.linkNav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.search{
    display: flex;
    flex-direction: row;
}

.search input{
    font-family: 'Poppins', serif;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-style: none;

    height: 50px;
    width: 300px;
    margin-left: 10%;
    margin-right: 0;
}

.search button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-style: none;

    margin-left: 0;
}

button:hover{
    cursor: pointer;
}

.item{
    font-family: 'Poppins', serif;
    font-size: 1.3vw;
    font-weight: 600;
}

.active{
    font-family: 'Poppins', serif;
    font-size: 1.3vw;
    font-weight: 600;
    color: #D32D4F;
}

@font-face {
    font-family: 'Porter Sans Black';
    src: url(../assets/Fonts/porter-sans-inline-block-webfont.woff);
}

h1{
    text-align: center;
    font-family: 'Porter Sans Black';
    color: #fff;
    font-size: 3vw;
}

a{
    text-decoration: none;
    color: #2B2868;
}

.item a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: Kalam, Arial;
    font-weight: 700;
    position: relative;
    border-bottom: 2px solid #2B2868;
}

.item a:hover{
    top: -0.16em;
    transition: padding .5s, top .35s, box-shadow .4s;
    box-shadow: 0 0.4rem 0 -0.2rem #D32D4F;
}

.mainh h1{
    color: #D32D4F;
    text-align: left;;
    margin: 0;
    margin-top: 25%;
    margin-left: 5%;
}

h2{
    font-family: 'Poppins', serif;
    font-size: 1.8vw;
    color: #4451c9;
}

.mainh h2{
    margin: 0;
    margin-left: 5%;
    color: #2B2868;
}

.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sliderImg{
    position: relative;
    padding: 5%;
    padding-left: 10%;
    border-radius: 10px;
}

.sliderImg img{
    width: 800px;
}

.leftArrow img{
    position: absolute;
    bottom: 48%;
    left: 18%;
    width: 40px;
}

.rightArrow img{
    position: absolute;
    bottom: 48%;
    right: 10%;
    width: 40px;
}

p{
    font-family: 'Poppins', serif;
    font-size: 1.2vw;
    color: #fff;
}

h3{
    font-family: 'Poppins', serif;
    font-size: 3vw;
    color: #fff;
}

.book button{
    width: 50%;
    padding: 20px;
    border-radius: 15px;
    border-style: none;

    font-family: 'Poppins', serif;
    font-size: 1.4vw;
    background-color: #D32D4F;
    color: #fff;
}

.shuttles{
    background-color: #2B2868;
    display: flex;
    flex-direction: row;
}

.shuttleText{
    padding: 5%;
}

.shuttleImg{
    padding: 5%;
}

.peak{
    text-align: center;
    margin-top: 5%;
}

.sneakPeaks{
    display: flex;
    flex-direction: row;
    text-align: center;
}

@media(max-width: 800px) {
    .sneakPeaks{
        flex-direction: column;
        justify-content: center;
    }
}

.trip{
    padding: 10px;
}

.trip img{
    width: 20vw;
}

.peak button{
    width: 20%;
    padding: 20px;
    border-radius: 15px;
    border-style: none;
    margin: 5vh;

    font-family: 'Poppins', serif;
    font-size: 1.4vw;
    background-color: #D32D4F;
    color: #fff;
}

.filter{
    background-color: #2B2868;
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.filterResults{
    font-family: 'Poppins', serif;
    font-size: 1.5vw;
    color: #fff;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.filterResults img{
    width: 35px;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}

.filterResults p{
    padding-left: 20px;
    padding-right: 20px;
}

.filter hr{
    height: 35px;
}

.filterOptions{
    font-family: 'Poppins', serif;
    font-size: 1.3vw;
    color: #fff;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.perPage{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;
}

.sortBy{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;
}

#resultsPerPage{
    font-family: 'Poppins', serif;
    font-size: 1.3vw;
    color: #4451c9;
    background-color: #fff;
    padding: 5%;

    border-radius: 10px; 
}

#sortBy{
    font-family: 'Poppins', serif;
    font-size: 1.3vw;
    color: #4451c9;
    background-color: #fff;
    padding: 5%;

    border-radius: 10px;
}

.filter label{
    padding-right: 10%;
}

.planetPurple{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5%;
}

.availableText{
    padding: 5%;
}

.planetPurple img{
    width: 50vw;
}

.planetBlue{
    background-color: #2B2868;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5%;
}

.planetBlue img{
    width: 30vw;
}

.bookNow{
    width: 20%;
    padding: 20px;
    border-radius: 15px;
    border-style: none;
    margin: 5vh;

    font-family: 'Poppins', serif;
    font-size: 1.4vw;
    background-color: #D32D4F;
    color: #fff;
}

.cart{
    width: 30%;
    padding: 20px;
    border-radius: 15px;
    border-style: none;

    font-family: 'Poppins', serif;
    font-size: 1.4vw;
    background-color: #D32D4F;
    color: #fff;
    float: right;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

footer p{
    color: #2B2868;
}

.topFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footerLogo{
    margin: 0;
    width: 33%;
    padding-left: 5%;
    padding-top: 5%;
}

.footerLogo img{
    width: 60%;
    margin: 0;
}

.footerLogo p{
    width: 50%;
}

.footerNav{
    width: 33%;
    text-align: center;
}

.footerText{
    font-weight: 600;
}

.footerItem{
    font-family: 'Poppins', serif;
    font-size: 1.3vw;
    padding: 1%;
    color: #2B2868;
}

.footerActive{
    font-family: 'Poppins', serif;
    font-size: 1.3vw;
    padding: 1%;
    color: #2B2868;
}

.socialMedia{
    display: flex;
    flex-direction: column;
    width: 33%;
}

.mediaLinks{
    display: flex;
    flex-direction: row;
}

.mediaLinks a{
    padding: 2%;
}

.mediaLinks img{
    width: 80px;
}

.bottomFooter{
    display: flex;
    flex-direction: row;
}

.rules{
    display: flex;
    flex-direction: row;
}


