body{
    margin: 0;
    background-color: #D1B9D9;
}

.mainBack{
    background-image: url(../assets/Images/homePageHeader.png);
    height: 88.3vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.headerBack{
    background-image: url(../assets/Images/headerBack.png);
    height: 35vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 10px;
    width: 80%;
    margin-left: 7.5%;
    align-items: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.logo img{
    width: 75%;
    margin-left: 8%;
}

.linkNav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.search{
    display: flex;
    flex-direction: row;
}

.search input{
    font-family: 'Poppins', serif;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    margin-left: 10%;
}

input{
    font-family: 'Poppins', serif;
    font-size: 0.8vw;
}

.item{
    font-family: 'Poppins', serif;
    font-size: 1.3vw;
    font-weight: 600;
}

.active{
    font-family: 'Poppins', serif;
    font-size: 1.3vw;
    font-weight: 600;
    color: #D32D4F;
}

@font-face {
    font-family: 'Porter Sans Black';
    src: url(../assets/Fonts/porter-sans-inline-block-webfont.woff);
}

h1{
    text-align: center;
    font-family: 'Porter Sans Black';
    color: #fff;
    font-size: 3vw;
}

a{
    text-decoration: none;
    color: #2B2868;
}

.item a {
    text-decoration: none;
    text-transform: capitalize;
    font-family: Kalam, Arial;
    font-weight: 700;
    position: relative;
    border-bottom: 2px solid #2B2868;
}

.item a:hover{
    top: -0.16em;
    transition: padding .5s, top .35s, box-shadow .4s;
    box-shadow: 0 0.4rem 0 -0.2rem #D32D4F;
}

.mainh h1{
    color: #D32D4F;
    text-align: left;;
    margin: 0;
    margin-top: 25%;
    margin-left: 5%;
}

h2{
    font-family: 'Poppins', serif;
    font-size: 1.8vw;
}

.mainh h2{
    margin: 0;
    margin-left: 5%;
    color: #2B2868;
}

.slider{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sliderImg{
    position: relative;
    padding: 5%;
    padding-left: 10%;
    border-radius: 10px;
}

.sliderImg img{
    width: 800px;
}

.leftArrow img{
    position: absolute;
    bottom: 48%;
    left: 18%;
    width: 40px;
}

.rightArrow img{
    position: absolute;
    bottom: 48%;
    right: 10%;
    width: 40px;
}

p{
    font-family: 'Poppins', serif;
    font-size: 1.2vw;
    color: #fff;
}

.book h1{
    font-family: 'Poppins', serif;
}

.book h2{
    color: #4451c9;
}

.book button{
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    border-color: #D1B9D9;
    font-family: 'Poppins', serif;
    font-size: 1.4vw;
    background-color: #D32D4F;
    color: #fff;
}